body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-text{
  text-align: center;
}

.resident-form{
  text-align: center;
}

.input-text{
  padding: 10px;
  margin: 10px;
}

.btn{
  padding: 10px;
  margin: 10px;
}

.instructions{
  padding: 0px;
  margin: 0px;
}
